<div class="container">
  <h2>Agregar Informacion Doctor</h2>
  <div class="container-iniciar-form">
    <%= form_for([@doctor,@medic])  do |f| %>
      <% if @medic.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@medic.errors.count, "error") %> prohibited this medic from being saved:</h2>

          <ul>
          <% @medic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :User %><br />
        <%= f.text_field :doctor_id, :value => @doctor.id,  autofocus: true, class:"form-control"%>
      </div>
      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, autofocus: true, class:"form-control"%>
      </div>
      <div class="field">
        <%= f.label :cell_phone %><br />
        <%= f.text_field :cell_phone, autofocus: true, class:"form-control"%>
      </div>
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address, autofocus: true, class:"form-control"%>
      </div>
      <div class="field">
        <%= f.label :especialidad %><br />
        <%= f.select :specialty_id , options_for_select(Specialty.all.collect {|p| [p.name, p.id]}) %>
      </div>
      <%= f.submit "Agregar", class:"btn btn-primary"  %>
    <% end %>
  </div>
</div>
