<div class="container">
  <section class="container-listado">
      <div class="container-all-listado">
        <h2>Doctores</h2>
        <hr>
        <table class="table table-striped container-all-listado-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Last name</th>
              <th>Especialty</th>
              <th>Phone</th>
              <th>Cel phone</th>
            </tr>
          </thead>
          <tbody>
            <% @medics.each do |medic| %>
              <tr>
                <td><%= medic.id  %></td>
                <td><%= medic.doctor.first_name %></td>
                <td><%= medic.doctor.last_name %></td>
                <td><%=medic.specialty.name%></td>
                <td><%=medic.phone %></td>
                <td><%=medic.cell_phone %></td>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
  </section>

</div>
