
      <% nameBtn ||= "Agregar"  %>
      <%= form_for @consultation , url: '/consultations' do |f| %>
        <%= render "partials/fullMessages", objeto: @consultation %>
        <div class="row">
          <div class="col-md">
            <div class="field">
              <%= f.label :medic_id %>
              <%= f.select :medic_id , options_for_select(Medic.all.collect {|p| [p.doctor.first_name, p.id]}) %>
            </div>
            <div class="field">
              <%= f.label :patient_id %>
              <%= f.select :patient_id, options_for_select(Patient.all.collect {|p| [p.first_name, p.id]}) %>
            </div>
          </div>
          <div class="col-md">
            <div class="field">
              <%= f.label :date %>
              <div class='input-group date' id='datetimepicker1'>
                  <%= f.text_field :date, :required => true %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

          </div>
        </div>




        <%= link_to (consultations_path) do %>
          <button type="button" class="btn btn-default">Regresar</button>
        <%end %>

        <%= f.submit nameBtn, class:"btn btn-primary"  %>

      <% end %>
    </div>
