<div class="container">
  <section class="container-listado">
    <div class="container-all-listado">
      <h2>Consultations</h2>
      <p id="notice"><%= notice %></p>
      <hr>
      <table class="table table-striped container-all-listado-table">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Medic</th>
            <th>Fecha</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @consultations.each do |consultation| %>
            <tr>
              <td><%= consultation.patient.first_name %></td>
              <td><%= consultation.medic.doctor.first_name %></td>
              <td><%= consultation.date %></td>
              <td>
                <%= link_to (consultation), method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-ban"></i>
                <%end %>
                <%= link_to (edit_consultation_path(consultation)) do %>
                  <i class="fa fa-pencil"></i>
                <%end %>
                <%= link_to (consultation) do %>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                <%end %>

            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
     <%= render "partials/modal" %>
  </section>
</div>
