<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Patient:</strong>
    <%= @consultation.patient.first_name %><%= @consultation.patient.last_name %>
  </p>
  <p>
    <strong>Medic:</strong>
    <%= @consultation.medic.doctor.first_name %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @consultation.date %>
  </p>




  <%= link_to 'Edit', edit_consultation_path(@consultation) %> |
  <%= link_to 'Back', consultations_path %>
</div>
