<div class="container">
  <div class="row middle-xs margen center-xs margen edit-consultation">
    <div class="edit-consultation-edit container-iniciar-form">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Patient:</strong>
        <%= @consultation.patient.first_name %><%= @consultation.patient.last_name %>
      </p>
      <p>
        <strong>Medic:</strong>
        <%= @consultation.medic.doctor.first_name %>
      </p>
      <p>
        <strong>Date:</strong>
        <%= @consultation.date %>
      </p>
      <p>
        <strong>Time:</strong>
        <%= @consultation.time %>
      </p>
      <%unless @consultation.detail.nil? %>
        <p>
          <strong>Reason:</strong>
          <%= @consultation.detail.reason %>
        </p>
        <p>
          <strong>Symptoms:</strong>
          <%= @consultation.detail.symptoms %>
        </p>
        <p>
          <strong>Diagnosis:</strong>
          <%= @consultation.detail.diagnosis %>
        </p>
        <p>
          <strong>Medicament:</strong>
          <%= @consultation.detail.medicament %>
        </p>
        <p>
          <strong>Total:</strong>
          $<%= @consultation.detail.total %>
        </p>
      <%end %>

      <%= link_to 'Edit', edit_consultation_path(@consultation) %> |
      <%= link_to 'Back', consultations_path %>
      <%if @consultation.detail.nil? %>
          <%= render "partials/modal", botnName: "Detail consultation", title:"#{@consultation.patient.first_name }'s consultation", ruta:"details/form"%>
      <%end %>
    </div>
  </div>
</div>
