<header class="header-home">
	<div class="row margen between-xs">
		<div class="col-md row margen middle-xs">
			<%= image_tag("logo.png", :alt => "image", class: "img-logo" ) %>
			<h1>Buena Salud</h1>
		</div>
	</div>
	<nav class="header-home-nav">
		<ul class="row margen start-xs">
			<li class="col-xs-2  row margen center-xs"><%= link_to "Inicio", root_path, class:"nav-items" %></li>
			<li class="col-xs-2  row margen center-xs"><%= link_to "Contacto", root_path, class:"nav-items"  %></li>
			<li class="col-xs-2  row margen center-xs"><%= link_to "Acerca de", root_path, class:"nav-items"  %></li>
      <li class="col-xs-2  row margen center-xs"><%= link_to "Iniciar Sesión", new_user_session_path, class:"nav-items" %></li>
		</ul>
	</nav>
</header>
