<% titulo ||= "Secretary" %>
<% table ||= @users  %>
<% enlace ||= new_user_registration_path %>
<% showUser ||= "secre" %>
<% btn ||= "New secretary" %>
<div class="container">
  <section class="container-listado">
      <div class="container-all-listado">
        <h2><%= titulo %></h2>
        <hr>
        <table class="table table-striped container-all-listado-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Sign in count</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
            <% table.each do |field| %>
              <tr>
                <td><%= field.id  %></td>
                <td><%= field.first_name %></td>
                <td><%= field.last_name %></td>
                <td><%=field.email%></td>
                <td><%=field.sign_in_count %></td>
                <td><%=time_ago_in_words field.updated_at %> ago</td>
                <%if showUser != "secre"  %>
                  <td>
                    <%= link_to  field do %>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <%end %>
                  </td>
                <%end %>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
      <%= link_to (enlace) do  %>
        <button type="button" class="btn btn-primary" name="button"><%= btn %> </button>
      <%end %>
      <% if titulo != "Secretarias"  %>
        <%= link_to (medics_path) do  %>
          <button type="button" class="btn btn-default" name="button">Show information doctors </button>
        <%end %>
      <%end %>
  </section>

</div>
