<div class="container">
  <section class="container-listado">
      <div class="container-all-listado">
        <h2>Specialties</h2>
        <hr>
        <table class="table table-striped container-all-listado-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Specialty</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @specialties.each do |specialty|  %>
              <tr>
                <td><%= specialty.id  %></td>
                <td><%=specialty.name%></td>
                <td>
                  <%= link_to(specialty, method: :delete) do %>
                    <i class="fa fa-ban"></i>
                  <%end %>
                  <%= link_to (edit_specialty_path(specialty.id)) do %>
                    <i class="fa fa-pencil"></i>
                  <%end %>
                </td>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
      <%= link_to (new_specialty_path) do  %>
        <button type="button" class="btn btn-primary" name="button">New Specialty </button>
      <%end %>
  </section>

</div>
