<%= form_for(@detail) do |f| %>
  <div class="row">
    <div class="col-md">
      <div>
        <%= f.text_field :consultation_id, :value => @consultation.id,  autofocus: true, class:"input-id" %>
      </div>
      <div class="field">
        <%= f.label :reason %><br>
        <%= f.text_field :reason %>
      </div>
      <div class="field">
        <%= f.label :symptoms %><br>
        <%= f.text_field :symptoms %>
      </div>
    </div>
    <div class="col-md">
      <div class="field">
        <%= f.label :diagnosis %><br>
        <%= f.text_field :diagnosis %>
      </div>
      <div class="field">
        <%= f.label :medicament %><br>
        <%= f.text_field :medicament %>
      </div>
      <div class="field">
        <%= f.label :total %><br>
        <%= f.text_field :total %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create", class:"btn btn-primary"%>
  </div>
<% end %>
