<p id="notice"><%= notice %></p>

<p>
  <strong>Consultation:</strong>
  <%= @detail.consultation %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @detail.reason %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @detail.symptoms %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @detail.diagnosis %>
</p>

<p>
  <strong>Medicament:</strong>
  <%= @detail.medicament %>
</p>

<p>
  <strong>Total:</strong>
  <%= @detail.total %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
