<!DOCTYPE html>
<html>
<head>
  <title>BuenaSalud</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/headerLogged" %>
  <div class="container-opciones row">
    <div class="container-opciones-menu col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <li><a >Inicio</a></li>
        <li><a >Consultas</a></li>
        <li><a >Pacientes</a></li>
        <li><a >Doctores</a></li>
        <li><%= link_to  "Especialidades", specialties_path  %></li>
      </ul>
    </div>
    <div class="container-opciones-container col-xs-10">
      <%= yield %>
    </div>
  </div>

</body>
</html>
