<!DOCTYPE html>
<html>
<head>
  <title>BuenaSalud</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render "partials/header"  %>
  <%= render "partials/flashMessages"  %>
  <div class="main-container">
    <%= yield %>
  </div>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>
